= form_for @post do |f|
  - if f.object.errors.any?
    %ul
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  .input-group
    .label
      = f.label :title
    .ui.input.fluid
      = f.text_field :title

  .input-group
    .lable
      =f.label :image
    = f.file_field :file

  .input-group
    = f.submit "Post", class: 'ui green button'

= debug params
