!!!
%html
  %head
    %title Lunchbag
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.menu.top.fixed
      = link_to "Lunchbag", root_path, class: 'header item'
      .right.menu
        - if user_signed_in?
          = link_to 'Account', '#', class: 'item'
          = link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'item'
        - else
          = link_to 'Sign in', new_user_session_path, class: 'item'
          = link_to 'Register', new_user_registration_path, class: 'item'
    .ui.container.header-offset
      - flash.each do |key, value|
        .ui.message
          %i.close.icon
          .header
            = value
      = yield
